@page "/gcalc/sofinans"
@inject Calculations calc
@inject NavigationManager navigationManager

<h3>Подсчёт софинансирования</h3>

<EditForm Model="@calcModel" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="gA">Объём гранта: </label><br />
        <InputNumber id="gA" @bind-Value="calcModel.grantAmount" />
    </div>

    <div class="form-group">
        <label for="tH">Объём ресурсов команды: </label><br />
        <InputNumber id="tH" @bind-Value="calcModel.teamHelp" />
    </div>

    <br />

    <button class="btn btn-success" type="submit"> Посчитать </button>
    <button class="btn btn-danger" type="button" @onclick="@Back"> Назад </button>
</EditForm>

@if (res > 0)
{
    <h4> Объём софинансирования составит не более @res рублей.</h4>
}


@code {
    GrantCalculatorModel calcModel = new();
    public double res;

    public void OnSubmit()
    {
        var grantAmount = calcModel.grantAmount;
        var teamHelp = calcModel.teamHelp;
        res = calc.CalculateSofinans(grantAmount, teamHelp);
    }

    public void Back()
    {
        navigationManager.NavigateTo("/gcalc");
    }
}
