@page "/gcalc"

<div class="list-group">
    <a href="/gcalc/sofinans" class="list-group-item list-group-item-action">Софинансирование</a>
    <a href="/gcalc/percent" class="list-group-item list-group-item-action">Работа с процентами</a>
    <a href="#" class="list-group-item list-group-item-action">Работа с индексацией</a>
    <a href="#" class="list-group-item list-group-item-action">null</a>
    <a href="#" class="list-group-item list-group-item-action">null</a>
</div>

@code{

}
