@page "/gcalc"
@inject Calculations calc

<h3>Грантовый калькулятор</h3>

<EditForm Model="@calcModel" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <InputNumber id="gA" @bind-Value="calcModel.grantAmount" />
    </div>
    
    <InputNumber id="tH" @bind-Value="calcModel.teamHelp" />
    <button class="btn btn-success" type="submit"> Посчитать! </button>
</EditForm>

<h4> Объём софинансирования составит не более @res рублей.</h4>

@code {
    GrantCalculatorModel calcModel = new();
    public double res;

    public void OnSubmit()
    {
        var grantAmount = calcModel.grantAmount;
        var teamHelp = calcModel.teamHelp;
        res = calc.CalculateSofinans(grantAmount, teamHelp);
    }
}
