@page "/"

<h1 style="font-family: Maler-regular;">Hello, world!</h1>

Добро пожаловать! Это альфа версия грантового помощника. Делаю с душой и от души, для себя, меня и Вовки (я).

<hr />
Current AppData directory:
@FSinfo

@code {
    public string FSinfo = FileSystem.AppDataDirectory;
}
