@page "/jsonparse"


<h3>Json Reader</h3>

<UploadFileComponent></UploadFileComponent>
@* <FolderVizualizationComponent></FolderVizualizationComponent> *@

<EditForm Model="@readerModel">

</EditForm>


@code {
    JSONReaderModel readerModel = new();
}
