@inject FolderVisualisation folderVisualisation
@inject FileUpload fileUpload

<h3>Folder Vizualization Component</h3>
<h3>current directory: @uploadDirectory</h3>

<div class="btn-group">
    <button 
        class="btn btn-danger"
        type="button">
        <i class="oi oi-trash"></i>
        Удалить
    </button>
    <button 
        class="btn btn-success"
         type="button">
        <i class="oi oi-book"></i>
        Прочитать
    </button>
    <button 
        class="btn btn-primary"
        type="button">
        <i class="oi oi-task"></i>
        В Exel
    </button>
</div>

<ul>
   @foreach (var item in filesInFolders)
    {
        <li style="cursor: pointer">@item</li>
    }
</ul>

@code {


    [Parameter]
    [EditorRequired]
    public string uploadDirectory { get; set; }

    [Parameter]
    [EditorRequired]
    public string filesInFolder { get; set; }



    IEnumerable<string> filesInFolders;

    protected override async Task OnParametersSetAsync() => await getFilesInDirectory();

    public async Task getFilesInDirectory()
    {
        filesInFolders = folderVisualisation.FileNamesInFolder(uploadDirectory);
    }

    private async Task SelectFile()
    {
        
    }
}
