@inject FileUpload fileUpload

<h3>UploadFile Component</h3>

<InputFile OnChange="@uploadAFile" multiple></InputFile>

@code {
    public async Task uploadAFile(InputFileChangeEventArgs e)
    {
        await fileUpload.LoadFiles(e);
    }
}
